[Unit]
Description=Samba AD Domain Controller
After=network.target janus-provision.service
Wants=network.target
Wants=janus-provision.service

[Service]
Type=simple
ExecStart=/usr/bin/samba --foreground --no-process-group
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
